/* botoes pagina denuncie */
a.btn-denuncie {
    background-color:#a071d1;
    width: 500px;
    height: 50px;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: none;      
}

a.btn-denuncie:hover {
    color: #711BCF;
    background-color: #eab3f5;
}

/* caixa de texto selecionar cidade - pagina denuncia presencial/telefone */
.selecione-cidade {
    background-color:#a071d1;
    width: 300px;
    display: inline;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-decoration: none;    
}

/* caixa de selecao - pagina denuncia presencial/telefone */
.lista-cidades {
    width: 425px;
    height: 40px;
    display: inline;
}

/* ajustes responsivos */
@media screen and (max-width: 767px) {
    p.title-page {
        width: 300px;
        font-size: large;
        height: 40px;
    }

    a.btn-denuncie {
        width: 200px;
        font-size: large;
        height: 40px;
    } 
    
    .btn-selecao-cidade {
        width: 50px;
        font-size: small;                
    }

    select.form-select {
        width: 200px;
        height: 42px;
        display: block;
        font-size: small;
        text-align: center;
    }
}
