/* botoes pagina denuncie */
a.btn-denuncie {
    background-color:#a071d1;
    width: 500px;
    height: 50px;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    text-decoration: none;      
}

a.btn-denuncie:hover {
    color: #711BCF;
    background-color: #eab3f5;
}

/* caixa de texto selecionar cidade - pagina denuncia presencial/telefone */
.selecione-cidade {
    background-color:#a071d1;
    width: 360px;
    height: 50px;
    display: inline;
    padding-top: 8px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-decoration: none;    
}

/* caixa de selecao - pagina denuncia presencial/telefone */
.lista-cidades {
    width: 440px;
    height: 40px;
    display: inline;
}

/* botão ok - pagina denuncia presencial/telefone */
.button-cidade {
    width: 50px;
    height: 43px;    
    background-color:indigo;  
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    text-decoration: none;
}


/* ajustes responsivos */
@media screen and (max-width: 991px) {
    p.title-page {
        width: 300px;
        font-size: large;
        height: 40px;
    }

    a.btn-denuncie {
        width: 200px;
        font-size: large;
        height: 40px;
    } 
    
    .selecione-cidade {
        width: 200px;
        height: 40px;
        display: inline-block; 
        text-align: center;  
        font-size: medium;                 
    }

    .lista-cidades {
        width: 200px;
        height: 40px;
        display: inline-block;
        font-size: medium;
               
    }
}
