p.title-page {
    background-color:#711BCF;
    width: 700px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
    display: inline-block;
}

a.btn-denuncie {
    background-color:#a071d1;
    width: 500px;
    height: 50px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
    text-decoration: none;    
}

button.btn a:hover {
    color: #711BCF;
    background-color: #eab3f5;
}

p.selecao-cidade {
    background-color:#a071d1;
    width: 200px;
    height: 50px;
    display: inline;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    text-decoration: none;    
}


/* ajustes responsivos */
@media screen and (max-width: 767px) {
    p.title-page {
        width: 300px;
        font-size: large;
        height: 40px;
    }

    a.btn-denuncie {
        width: 200px;
        font-size: large;
        height: 40px;
    }    
}
