/* titulo pagina na navbar  */
p.titulo-pagina {
    color: #FFFFFF;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center; 
    display: inline-block;   
}

/* barra de navegacao */
.navbar {
    background-color: #711BCF;
}

/* logo na barra de navegacao  */
.image-nav {
    display: inline-block;
    text-align: center;
}

/* botoes gerais na barra de navegacao */
.navbar-nav .nav-item a {
    color: #FFFFFF;
    background-color: #A377FB;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav .nav-item a:hover {
    color: #711BCF;
    background-color: #FFFFFF;
}



/* botao de destaque */
.navbar-nav .nav-item.denuncie a { 
    color: #711BCF;
    background-color: #FFFFFF;
}

.navbar-nav .nav-item.denuncie a:hover { 
    color: #FFFFFF;
    background-color: #711BCF;
}

/* formulario de pesquisa */
.navbar form input[type="search"] {
    background-color: transparent;
    border-width: 1px;
    border-color: #A377FB;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 10px;
}

.navbar form {
    position: relative;
}

/* texto de input no formulario de pesquisa */
.navbar form input[type="search"]::placeholder {
    color: #cab0ff;
}

/* lupa */
.navbar form .fa { 
    position: absolute;
    top: 10px;
    right: 10px;
    color: #cab0ff;
}

/* conteudo */
#conteudo {
    margin-top: 20px;
    min-height: 313px; /* define altura minima para o conteudo */
}


/* titulo das paginas - criar elemento p classe title-page */
p.title-page {
    background-color:#711BCF;
    width: 700px;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
    display: inline-block;
}

/* formulários */
.form-group {
    padding: 3px;
}

.form-control:focus {
    color: #495057;
    border-color: #3e2c5a;
    box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.25);
  }

/* jumbotron testimonials */
.jumbotron-testimonials {
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron-testimonials p:last-child {
    margin-bottom: 0;
}

.jumbotron-testimonials .container {
    max-width: 640px;
}

/* carousel */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 1rem;
    z-index: 10;
}

.carousel-item {
    height: 250px;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px;
}

/* botões */
.btn:hover {
    color: #fff;
    background-color: #443062;
    border-color: #3e2c5a;
}
  
.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.25);
}

/* botão primário */
.btn-purple {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}
  
.btn-purple:hover {
    color: #fff;
    background-color: #443062;
    border-color: #3e2c5a;
}
  
.btn-purple:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 61, 124, 0.5);
}

/* botão outline secundário */
.btn-outline-gray {
    color: #868e96;
    border-color: #868e96;
}
  
.btn-outline-gray:hover {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}
  
.btn-outline-gray:focus {
    box-shadow: 0 0 0 0.2rem rgba(134, 142, 150, 0.5);
}

/* rodape */
footer {
    height: 172px;
    background: linear-gradient(to bottom, #FFFFFF, #711BCF);
    padding: 10px;           
}

.col-left {
    text-align: left;
}

.col-right {
    text-align: right;
}


/* ajustes responsivos */
@media screen and (max-width: 768px) {
    .navbar form {
        display: none; /* define que o formulario de pesquisa desapareca em telas menores */
    }

    .col-left {
        text-align: center;
    }

    .col-right {
        text-align: center;
    }

    .col {
        text-align: center;
    }

    .image-nav {
        width: 70px;
        height: 64px;
    }

    p.titulo-pagina {
        font-size: x-large;
    }

    p.title-page {
        width: 300px;
        font-size: large;
        height: 40px;
    }

    footer {
        height: 500px;
    }
}